body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 608px;
  height: 500px;
  display: flex;
  background: #333333;
  border-radius: 10px;
  padding: 64px 62px 68px 0;
  box-sizing: border-box;
  position: relative;
}

.poster {
  width: 281px;
  height: 396px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  position: absolute;
  right: 390px;
  top: 50px;
}

section {
  width: 290px;
  height: 396px;
  position: absolute;
  left: 270px;
  top: 55px;
  box-sizing: border-box;
}

dl {
  display: inline-flex;
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  color: #bdbdbd;
  margin-bottom: 13px;
}

dt::after {
  content: "";
  border-right: 2px solid;
  padding-left: 5px;
  margin-right: 5px;
}

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  height: 46px;
  vertical-align: top;
  margin-bottom: 114px;
}

article {
  width: 140px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}

.like,
.heart {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.like img {
  width: 23.78px;
  height: 24.17px;
}

.heart img {
  width: 25.26px;
  height: 22.03px;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: #f2f2f2;
  margin-bottom: 16px;
  margin-left: 5px;
}

footer {
  width: 300px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.stars {
  width: 272px;
  height: 51px;
  box-sizing: border-box;
}

.stars img {
  width: 51px;
  height: 51px;
}
